@require '../../../components/stylus_lib'

.categories-page
  padding 40px 0

.categories-header
  position relative
  > h1
  > h2
    margin 20px 0
.categories-header-jump-link // deprecate
  position absolute
  top 0
  right 0
.categories-header-large
  font-size 50px
.categories-blurb
  margin 30px 0
  font-size 20px
  line-height 1.4

.category-set
  margin 60px 0
  font-size 0
.category-set-header
.categories-az-header
  margin 30px 5px
  font-size 25px
.category-set-categories
  margin 20px 0
.category-set-category
  position relative
  display inline-block
  width calc('20% - 10px')
  margin 5px
  vertical-align bottom
.csc-title
  position absolute
  right 20px
  bottom @right
  left @right
  avant-garde()
  color white
  font-size 13px
  text-align left
  line-height 1
  text-shadow 0 0 5px rgba(black, .125)

.categories-az-header // deprecate
  padding 40px 0

.gene-families
  display block
  pre
    background #eee
.gene-families__family
  border-top solid 1px gray-color
  margin 60px 0 0 0
.gene-families__family__name
  font-size 30px
  padding 20px 0 30px 0
.gene-families__family__gene
  a
    display block
    padding 5px 20px 5px 0
    text-decoration none
    overflow ellipsis
    transition color 0.125s
    color black
    &:hover
      color purple-color

.gene-families__columns
  display block
.gene-families__columns__column
  display inline-block
  vertical-align top
  width 25%
